<ion-content [fullscreen]="true" class="addproj-content">
  <ion-title>Adicionar Projeto</ion-title>
  
  <div class="form-container">
    <div class="image-upload">
      <ion-icon name="image-outline"></ion-icon>
    </div>
    <ion-item>
      <ion-label position="stacked">Nome do Projeto:</ion-label>
      <ion-input placeholder="Digite o nome do projeto"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Meta:</ion-label>
      <ion-input placeholder="Digite a meta"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Previsão:</ion-label>
      <ion-input placeholder="Digite a previsão"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Local:</ion-label>
      <ion-input placeholder="Digite o local"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Descrição:</ion-label>
      <ion-textarea placeholder="Digite a descrição"></ion-textarea>
    </ion-item>
    <ion-button expand="block" class="adicionar-button">Adicionar</ion-button>
  </div>
</ion-content>
