<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cadastro</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" style="text-align: center; padding: 20px;">
    <!-- Formulário de cadastro -->
    <ion-item lines="none" style="--ion-item-background: transparent;">
      <ion-label position="stacked">Nome Completo</ion-label>
      <ion-input type="text" placeholder="Digite seu nome completo"></ion-input>
    </ion-item>

    <ion-item lines="none" style="--ion-item-background: transparent;">
      <ion-label position="stacked">E-mail</ion-label>
      <ion-input type="email" placeholder="Digite seu e-mail"></ion-input>
    </ion-item>

    <ion-item lines="none" style="--ion-item-background: transparent;">
      <ion-label position="stacked">CNPJ</ion-label>
      <ion-input type="text" placeholder="Digite seu CNPJ"></ion-input>
    </ion-item>

    <ion-item lines="none" style="--ion-item-background: transparent;">
      <ion-label position="stacked">Senha</ion-label>
      <ion-input type="password" placeholder="Digite sua senha"></ion-input>
    </ion-item>

    <ion-item lines="none" style="--ion-item-background: transparent;">
      <ion-label position="stacked">Confirmar Senha</ion-label>
      <ion-input type="password" placeholder="Confirme sua senha"></ion-input>
    </ion-item>

    <!-- Botão de cadastro -->
    <ion-button id="Cadastrar" expand="block" style="margin-top: 20px; ">Cadastrar</ion-button>
  </div>
</ion-content>