<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Configurações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item lines="none" style="--ion-item-background: transparent;">
    <ion-label position="stacked">ID</ion-label>
    <ion-input type="text" placeholder="Digite seu ID de administrador"></ion-input>
  </ion-item>

  <ion-item lines="none" style="--ion-item-background: transparent;">
    <ion-label position="stacked">Senha</ion-label>
    <ion-input type="password" placeholder="Digite sua senha"></ion-input>
  </ion-item>

  <!-- Botões -->
  <ion-button id="Entrar" expand="block" style="margin-top: 20px;">Entrar</ion-button>
</ion-content>
