<ion-header [translucent]="true">
  <ion-toolbar class="notifications-header">
    <ion-title>Notificações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="notifications-content">
  <div class="notification-item">
    <ion-icon name="pin-outline" class="notification-icon"></ion-icon>
    <div class="notification-text">
      <h3>Novo Projeto Disponível</h3>
      <p>Projeto 3</p>
    </div>
  </div>
  <div class="separator"></div>

  <div class="notification-item">
    <ion-icon name="stats-chart-outline" class="notification-icon"></ion-icon>
    <div class="notification-text">
      <h3>Atualização de Investimento</h3>
      <p>Projeto 1</p>
    </div>
  </div>
  <div class="separator"></div>
</ion-content>
