<ion-content [fullscreen]="true" class="investir-content">
  <div class="container">
    <ion-title>Projeto</ion-title>
    <div class="image-upload">
      <ion-icon name="image-outline"></ion-icon>
    </div>
    <ion-item lines="none">
      <ion-label position="stacked">Nome do Projeto:</ion-label>
      <div class="static-field">Nome do projeto</div>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked">Meta:</ion-label>
      <div class="static-field">Meta</div>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked">Previsão:</ion-label>
      <div class="static-field">Previsão</div>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked">Local:</ion-label>
      <div class="static-field">Local</div>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked">Descrição:</ion-label>
      <div class="static-field">Descrição</div>
    </ion-item>
    <ion-button expand="block" class="adicionar-button">Adicionar</ion-button>
  </div>
</ion-content>
