ion-header {
  --background: var(--ion-background-color, #E3E3E3);
  text-align: center;
}

ion-toolbar {
  --background: var(--ion-background-color, #232325);
  color: var(--ion-text-color, #e3e3e3);
}
ion-content {
  --background: var(--ion-background-color, #0B3D2E);
  color: var(--ion-text-color, #e3e3e3);
}
ion-item {
  --background: var(--ion-background-color, #0B3D2E);
  color: var(--ion-text-color, #e3e3e3);
  border-radius: 5px;
}
ion-input {
  --background: var(--ion-background-color, #0B3D2E);
  color: var(--ion-text-color, #e3e3e3);
  border: 2px solid #e3e3e3b1;
  border-radius: 5px;
  margin-top: 15px; 
  margin-bottom: 15px; /* Espaçamento entre os itens */
}
.input-wrapper.sc-ion-input-md {
  border-radius: 5px;
}
.native-input.sc-ion-input-md {
  padding-left: auto;
}
ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #757575;
  margin: 0;
}

#container a {
  text-decoration: none;
}