<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Desenvolvedores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-menu-toggle auto-hide="false">
      <ion-buttons style="width: 100%;">

        <ion-button  style="width: 100%;" (click)="add1()">
          <ion-icon style="font-size: 40px;margin-right: 10px;" name="people-circle-outline"></ion-icon>
          <ion-label>Usuários</ion-label>
        </ion-button>


      </ion-buttons>
    </ion-menu-toggle>
</ion-content>